.main-container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8%;
  margin-left: 9%;
}

.my-button {
  margin-left: auto;
  margin-right: 20px;
  background-color: #1d8cf8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.header {
  padding-top: 1%;
  margin-left: 1%;
  color: #000;
  font-size: 17px;
  font-weight: 100;
  text-decoration: none solid rgb(29, 37, 59);
  text-align: left;
}

.my-button:hover {
  background-color: #fff;
  color: #1d8cf8;
  border: 2px solid #1d8cf8;
}

.ag-header-cell-label {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styled-search-box {
  width: 50%;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-left: 1%;
}

.styled-search-box::placeholder {
  color: #aaa;
}

.styled-search-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.search-export-container {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
